body {
	margin: 15px auto;
	background-color: black;
}

canvas.game_of_life {
	position: fixed;
	z-index: -100;
	top: 0px;
	left: 0px;
	-webkit-transform: translateZ(0);
}

h1 {
	font-family: 'SFPixelateShadedBold';
	margin: 0 auto;
	color: #11EE11;
	text-align: center;
}

div.nav {
	display: flex;
	width: 70%;
	margin: 0px auto;
	position: relative;
}

div.navbutton {
	float: left;
	width: 25%;
	font-family: 'PT Mono', monospace;
	font-size: 2.4vw;
	border: 2px solid white;
	border-radius: 0.25vw 0.25vw 0px 0px;
	transition: color 0.5s;
	padding-bottom: 0.6vh;
	text-align: center;
	cursor: pointer;
	position: relative;
}

div.navbutton::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(rgba(0, 0, 0, 0.8), transparent 3%, rgba(0, 0, 0, 0.8) 4%);
	pointer-events: none;
}

div.navbutton a {
	position: relative;
	text-decoration: none;
	color: #FFBF00;
	transition: color 0.5s;
	text-shadow: 0px 0px 10px #FF8844;
	transition: text-shadow 0.5s;
}

div.current_tab a {
	color: #EEEEEE !important;
	text-shadow: 0px 0px 10px #EEEEEE !important;
}

div.navbutton:hover a {
	color: #EEEEEE;
	text-shadow: 0px 0px 10px #EEEEEE;
	transition: color 0.5s;
	transition: text-shadow 0.5s;
}

div.page_body {
	font-family: 'PT Mono', monospace;
	width: 70%;
	margin: 0 auto;
	background: rgba(200, 200, 200, 0.5);
	border: 0px;
	border-radius: 2px;
	min-height: 75vh;
	padding-top: 10px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (orientation:portrait) {
	div.page_body {
		width: 100% !important;
	}

	div.nav {
		width: 100% !important;
	}

	div.navbutton {
		font-size: 3.43vw !important;
	}
}

div.card {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 90%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	background: #EEEEEE;
	border-radius: 5px;
	box-shadow: 0px 0px 15px black;
}

div.card h2 {
	margin: 0px;
	text-align: center;
}

div.card p {
	margin: 0px 10px 0px 10px;
}

div.card img {
	display: block;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 10px #AAAAAA;
}

div.card video {
	display: block;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 10px #AAAAAA;
}

div.card iframe {
	display: block;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 10px #AAAAAA;
}

div.github_card_container {
	margin: 15px auto;
}

hr {
	width: 50%;
	height: 0.25em;
	background: #000020;
}

div.spinny {
	font-family: 'Special Elite';
	width: 1em;
	height: 1em;
	overflow: hidden;
	line-height: 1em;
	display: inline-block;
}

div.spinny span {
	position: relative;
	transition: top 0.2s;
}

div.view_counter {
	display: inline-block;
	background: black;
	color: white;
	font-size: 1.875em;
	padding-top: 0.35em;
	padding-right: 1em;
	padding-left: 1em;
	border-radius: 0.5em;
}
